@model Priority_Q.Models.NewsInfo

@{
    ViewBag.Title = "Create";
}

<h2>Add News</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">News</h3>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.RestaurantId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Content)
                        @Html.ValidationMessageFor(model => model.Content)
                    </div>
                </div>

                @Html.HiddenFor(model => model.Date)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}