@model Priority_Q.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccupationStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccupationStartTime)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
