@model Priority_Q.Models.Table

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Table</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Table</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)

            @Html.HiddenFor(model => model.RestaurantId)
            @Html.HiddenFor(model => model.IsOccupied)

            <table>
                <tr>
                    <td>
                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            for (var i = 1; i <= 20; i++)
                            {
                                listItems.Add(new SelectListItem { Text = i.ToString(), Value = i.ToString() });
                            }
                        }

                        [Max: @Html.DropDownListFor(model => model.MaxCapacity, listItems, "-- Select Table Size --")]
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
