@using Priority_Q.Models;
@using Microsoft.AspNet.Identity;
@using System.Globalization;

@{
    ViewBag.Title = "Account Security";
    var restaurant = ViewData["Restaurant"] as Restaurant;
}

<header>
    <h1 class="text-center">
        <span class=" glyphicon glyphicon-cog"></span> @ViewBag.Title
    </h1>
</header>

<h3>
    <span class="glyphicon glyphicon-dashboard"></span> Profile
</h3>
<hr />
@if (restaurant == null)
{
    <p>
        You haven't added your restaurant yet. 
        <br />
        <a class="btn btn-primary" href="/Restaurants/Create">
            Create Now
        </a>
    </p>
}
else
{
    <h4>
        @Html.DisplayFor(modelItem => restaurant.Name)
    </h4>
    <p>
        <span class="glyphicon glyphicon-map-marker"></span> @restaurant.StreetAddress, @restaurant.City
        <br />
        <span class="glyphicon glyphicon-earphone"></span> @restaurant.PhoneNumber
    </p>
    <p>
        <span class="glyphicon glyphicon-time"></span>
        <!-- add zero to single digit numbers (3 -> 03), but leave it alone if it's double digit-->
        @DateTime.ParseExact(restaurant.OpeningHourStart.ToString().PadLeft(2, '0'), "HH", CultureInfo.CurrentCulture).ToString("h:mm tt")
        -
        @DateTime.ParseExact(restaurant.OpeningHourEnd.ToString().PadLeft(2, '0'), "HH", CultureInfo.CurrentCulture).ToString("h:mm tt")

    </p>
}

<h3><span class="glyphicon glyphicon-flag"></span> Account Details</h3>
<hr />
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>

@if (restaurant != null)
{
    <h3><span class="glyphicon glyphicon-exclamation-sign"></span> Danger Zone</h3>
    <hr />

    <p>
        <a class="btn btn-danger" href='@string.Format("/Restaurants/Delete/{0}", restaurant.ID)' title="Delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Delete My Restaurant
        </a>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
