@using System.Globalization;

@model Priority_Q.Models.Restaurant

@{
    ViewBag.Title = "Create";
}

<h2>Add Restaurant</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Restaurant</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Your restaurant name here" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.StreetAddress, new { placeholder = "1234 Main Street" })
                    @Html.ValidationMessageFor(model => model.StreetAddress)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.City, new { placeholder = "Troy, NY 12180" })
                    @Html.ValidationMessageFor(model => model.City)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = "(123) 456-7890" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>

            <!-- fill in opening hours -->
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                for (var i = 0; i < 24; i++)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = DateTime.ParseExact(i.ToString().PadLeft(2, '0'), "HH", CultureInfo.CurrentCulture).ToString("h:mm tt"),
                        Value = i.ToString().PadLeft(2, '0')
                    });
                }
            }

            @Html.DropDownListFor(model => model.OpeningHourStart, listItems, "-- Select Opening Hour --")
            -
            @Html.DropDownListFor(model => model.OpeningHourEnd, listItems, "-- Select Closing Hour --")

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
