@using System.Globalization;

@model Priority_Q.Models.Restaurant

@{
    ViewBag.Title = "View Restaurant";
    var restaurant = ViewData["Restaurant"] as Priority_Q.Models.Restaurant;
    var allTables = ViewData["AllTables"] as IEnumerable<Priority_Q.Models.Table>;
    var allCustomers = ViewData["AllCustomers"] as IEnumerable<Priority_Q.Models.Customer>;
    var mostRecentNews = ViewData["MostRecentNews"] as Priority_Q.Models.NewsInfo;
    var tableCapacityCount = ViewData["TableCapacityCount"] as SortedDictionary<int, int>;
}

@functions {
    private String ConvertIntTo24Hour(int number)
    {
        String convertToString = number.ToString().PadLeft(2, '0');
        DateTime convertToDateTime = DateTime.ParseExact(convertToString, "HH", CultureInfo.CurrentCulture);
        return convertToDateTime.ToString("h:mm tt");
    }
}

<h2>@restaurant.Name</h2>

<!-- Basic restaurant info (location, opening hours, etc.)-->
<span class="glyphicon glyphicon-map-marker"></span> @restaurant.StreetAddress , @restaurant.City &emsp;
<span class="glyphicon glyphicon-time"></span> @ConvertIntTo24Hour(restaurant.OpeningHourStart) - @ConvertIntTo24Hour(restaurant.OpeningHourEnd)
<br />
<span class="glyphicon glyphicon-earphone"></span> @restaurant.PhoneNumber

<p></p>

<!-- Full Map Modal -->
<div class="modal fade" id="fullMapModal" tabindex="-1" role="dialog" aria-labelledby="fullMapModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Full Map</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_CustomerAllTables")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h3>
            Tables Available <span class="label label-default">@ViewBag.AvailableTablesCount</span> 
            &emsp; 
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#fullMapModal">
                View Full Map
            </button>
        </h3>
        @Html.Partial("_CustomerPreviewTables", tableCapacityCount)

        <!-- Manage Priority Queue -->
        <h3>
            Priority Queue <span class="label label-default">@allCustomers.Count()</span>
        </h3>
        @Html.Partial("_CustomerPriorityQueue", allCustomers)
    </div>
</div>

<!-- Check if there's any news for today-->
@if (mostRecentNews != null)
{
    <p>
        <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Recent Updates
        </a>
        &emsp;
        <a class="btn btn-info" href='@string.Format("/Restaurants/ViewNews/{0}", restaurant.ID)'>
            View All Updates
        </a>
    </p>
    
    

    <div class="collapse" id="collapseExample">
        <div class="well">
            @mostRecentNews.Content <br />
            <i>Posted On @mostRecentNews.Date</i>

            <br />
        </div>
    </div>
}
