@using Microsoft.AspNet.Identity;
@model IEnumerable<Priority_Q.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        //this is to prevent a random person from generating new restaurants
        @Html.ActionLink("Create New Restaurant", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTables)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTables)
        </td>
        <td>
            @Html.ActionLink("View Tables", "ViewTables", new { id = item.ID }) 
            @if (Request.IsAuthenticated && item.UserID.Equals(User.Identity.GetUserId()))
            {
                //only logged in users should be able to edit and delete
                //best if only the user modifies their own restaurant and not someone else's
                @Html.ActionLink("[Edit]", "Edit", new { id=item.ID }) 
                @Html.ActionLink("[Delete]", "Delete", new { id=item.ID }) 
            }
        </td>
    </tr>
}

</table>
