@using Microsoft.AspNet.Identity;
@model IEnumerable<Priority_Q.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        //this is to prevent a random person from generating new restaurants
        @Html.ActionLink("Create New Restaurant", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            Tables (Available/Total)
        </th>
        <th></th>
    </tr>
    @{
        var counter = 0;
    }

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => counter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a class="btn btn-info" href='@string.Format("/Restaurants/ViewTables/{0}", item.ID)'>
                    @ViewBag.AvailableTablesArray[counter] / @ViewBag.TotalTablesArray[counter]  [@ViewBag.PercentIntArray[counter] %]
                </a>
            </td>
            <td>
                <a class="btn btn-info" href='@string.Format("/Restaurants/ViewPriorityQueue/{0}", item.ID)'>
                    Priority Queue (@ViewBag.NumWaitingArray[counter])
                </a>
            </td>
            <td>
                @if (Request.IsAuthenticated && item.UserID.Equals(User.Identity.GetUserId()))
                {
                    //only logged in users should be able to edit and delete
                    //best if only the user modifies their own restaurant and not someone else's
                    <a class="btn btn-warning" href='@string.Format("/Restaurants/Edit/{0}", item.ID)'> Edit </a>
                    <a class="btn btn-danger" href='@string.Format("/Restaurants/Delete/{0}", item.ID)'> Delete </a>
               }

        </td>
        </tr>
        counter++;
    }

</table>
