@model IEnumerable<Priority_Q.Models.Customer>

@{
    ViewBag.Title = "View Priority Queue";
}

<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink("Create New", "Create", "Customers", new { id = ViewBag.RestaurantID }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Cancel", "Delete", "Customers", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>


