@model IEnumerable<Priority_Q.Models.Table>

@{
    ViewBag.Title = "View Tables";
}

<h2>The Restaurant's Tables</h2>
<p>
    @if (Request.IsAuthenticated && ViewBag.OwnsRestaurant)
    {
        //create a new table just for that restaurant
        @Html.ActionLink("Create New Table", "Create", "Tables", new { id = ViewBag.RestaurantId }, null)
    }
</p>

<!-- The data passed in is a list of tables for a restaurant -->
<table class="table">
    <!-- header -->
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </th>
        <th></th>
    </tr>

    <!-- contents -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccupied)
            </td>
            <td>
                @if (Request.IsAuthenticated && ViewBag.OwnsRestaurant) 
                {
                    @Html.ActionLink("[Edit]", "Edit", "Tables", new { id = item.ID }, null)
                    @Html.ActionLink("[Delete]", "Delete", "Tables", new { id = item.ID }, null)
                }
            </td>
        </tr>
    }

</table>


