@using System.Globalization

@{
    ViewBag.Title = "View Reservations";
    var restaurant = ViewData["Restaurant"] as Priority_Q.Models.Restaurant;
    var allTables = ViewData["AllTables"] as IEnumerable<Priority_Q.Models.Table>;
    var allReservations = ViewData["AllReservations"] as SortedDictionary<int, List<Priority_Q.Models.Reservation>>;
}

@Html.Partial("_RestaurantHeader")

<h3>
    Reservations
    &emsp;
    <a class="btn btn-default" href='@string.Format("/Restaurants/ReserveTables/{0}", restaurant.ID)'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
    </a>
</h3>
<hr />

<!-- Let the user know which day has been selected-->
@if (ViewBag.DaySlot != "")
{
    <h4>Showing Reservations For @ViewBag.DaySlot</h4>
}
else
{
    <h4>Showing All Reservations</h4>
}

<p>
    @using (Html.BeginForm())
    {
        <fieldset>
            Show Reservations For Only:  @Html.DropDownList("DaySlotList")
            <input class="btn btn-primary" type="submit" value="Filter" />
            <a class="btn btn-default" href='@string.Format("/Restaurants/ViewReservations/{0}", restaurant.ID)'>
                Show All
            </a>
        </fieldset>
    }
</p>

 <!-- The data passed in is a list of tables for a restaurant -->
<!-- List all empty tables -->
@{
    //Initialize empty layout
    var length = 10;
    int[][] mapLayout = new int[length][];

    for (int i = 0; i < length; i++)
    {
        mapLayout[i] = new int[length];
    }

    //Fill in the tables
    foreach (var item in allTables)
    {
        mapLayout[item.CoordRow][item.CoordCol] = item.ID;
    }
}

<!-- The table layout is supposed to match the actual layout of a restaurant-->
<table class="table">
    @{
        for (var r = 0; r < length; r++)
        {
            <tr>
                @for (var c = 0; c < length; c++)
                {
                    <td style="border-top: none;">
                        @if (mapLayout[r][c] == 0)
                        {
                            <span class="label label-info disabled" style="background: transparent;">
                                &emsp; &emsp;
                            </span>
                            continue;
                        }

                        @{
                    var currentTable = (new Priority_Q.Models.TableDBContext()).Tables.Find(mapLayout[r][c]);
                        }

                        <!-- Table info (#, max capacity) -->
                        <a class="btn btn-default disabled" href='@string.Format("/Tables/ToggleOccupied/{0}", currentTable.ID)'>
                            @currentTable.MaxCapacity <span class="glyphicon glyphicon-user"></span>
                        </a>

                        <br />

                        <!-- Reservation Data-->
                        @if (allReservations[currentTable.ID].Count() > 0)
                        {
                            <span class="btn btn-default">
                                @foreach (var reservation in allReservations[currentTable.ID])
                                {
                                    var manageReservationModal = "manageReservationModal" + reservation.ID;
                                    <a data-toggle="modal" data-target="#@manageReservationModal">
                                        @{
                                    DateTime currentTime = new DateTime().AddHours(reservation.HourSlot).AddMinutes(reservation.MinuteSlot);
                                        }
                                        @reservation.DaySlot - @currentTime.ToString("hh:mm tt", new CultureInfo("en-US")) ("@reservation.CustomerName")
                                    </a>
                                    <br />
                                    <div class="modal fade" id="@manageReservationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                @{
                                    Priority_Q.Models.Reservation currentReservation = (new Priority_Q.Models.ReservationDBContext()).Reservations.Find(reservation.ID);
                                                }
                                                @Html.Partial("~/Views/Reservations/_Manage.cshtml", currentReservation);
                                            </div>
                                        </div>
                                    </div>
                                }
                            </span>
                        }
                    </td>
                }
            </tr>
        }
    }
</table>