@model IEnumerable<Priority_Q.Models.Table>

@{
    ViewBag.Title = "View Tables";
}

<h2>The Restaurant's Tables</h2>
<p>
    @foreach (var item in Model)
    {
        @Html.ActionLink("Create New", "Create", "Tables", new { id = item.ID }, null)
        break;
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOccupied)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccupied)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Tables", new { id = item.ID }, null) |
                @Html.ActionLink("Delete", "Delete", "Tables", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>


